* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	background-color: white;
	border: 1px solid red;
	min-height: 100%; /* NOTE: Appears to apply only to html (works well) */
	height: auto;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: mintcream;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

ol, ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

form {
	background-color: firebrick;
  width: 100%;
	height: auto;
}

#filter_panel {
	background-color: lightgrey;
	border: 1px solid black;
	display: inline;
	float: left;
	width: 35%;
	height: 100%;
}

#result_panel {
	background-color: steelblue;
	border: 1px solid chartreuse;
	display: inline;
	float: left;
	width: 65%;
	height: 100%;
}

.filter_category {
	background-color: white;
	margin: 0px 10px 10px 10px;
}

.filter_box_header {
	font-size: 16pt;
	margin: 10px;
}

.filter_box {
	border: 1px solid black;
}

.filter_category_header {
	padding: 5px 0px 5px 5px;
	background-color: black;
	color: white;
}

input[class="rating_filter_trigger"] {
  /* FIXME: Modify or remove this block */
  border-radius: 4px;
/*  border: 1px solid black;
  text-decoration: none;
  background-color: white;*/
}

input[class="clear_filter"] {
  /*  text-shadow: 0px 0px 1px black;*/
  /*  box-shadow: inset 0px 0px 3px black;*/
  border: 1px solid grey;
  border-radius: 4px;
  margin: 0px 5px 0px 5px;
}

.checkbox_filter_item input[class="filter_checkbox"] {
  /*opacity: 0.5;*/
}

input[id="partner_search"] {
	float: right;
	margin: 0 10px 10px 10px;
}
