* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	background-color: white;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

ol, ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#left_column {
	background-color: white;
  /*border: 10px solid black;*/
  display: inline;
	float: left;
  width: 10%;
	height: 100%;
}

#middle_column {
  /*border: 1px solid black;*/
  display: inline;
	float: left;
  width: 80%;
	height: 100%;
	border-bottom: 25px solid teal;
}

#right_column {
	background-color: white;
  /*border: 10px solid black;*/
  display: inline;
	float: left;
  width: 10%;
	height: 100%;
}

#header {
	background-color: white;
	background-image: url("http://www.sas.com/content/sascom/en_si/news/press-releases/2014/january/great-workplace-US-Fortune-2014/_jcr_content/par02/image_e11c.img.jpg/1457723668018.jpg"); /*FIXME-change*/
	/*border: 10px solid black;*/
	height: 5em;
}

#menu_bar {
	background-color: teal;
	/*border: 1px solid black;*/
	height: auto;
	overflow: auto;
}

#menu_bar > * {
	display: inline;
	float: left;
}

.menu_bar_button {
	background-color: azure;
	border: 1px 1px 0px 1px solid black;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 3px black;
	padding: 2px 2em 2px 2em;
	margin-right: 5px;
}

.menu_bar_button:first-child {
	border-radius: 0 5px 0 0;
}

.menu_bar_button:hover {
	background-color: white;
	cursor: pointer;
}

#main_container {
	/*background-color: blue;*/ /*FIXME-remove*/
	min-height: 50%;
	height: 80%;
}

form {
	/*border: 10px solid firebrick;*/
	height: 100%;
	width: 100%;
}

#filter_pane {
	/*background-color: lightgrey;*/
	/*border: 1px solid black;*/
	display: inline;
	float: left;
	width: 35%;
	height: 100%;
}

#search_pane {
	background-color: white;
	/*border: 10px solid salmon;*/
	display: inline;
	float: left;
	width: 65%;
	height: 100%;
}

#filter_pane * {
	float: left;
}

#filter_pane > .widget {
	width: 100%;
	border-bottom: 1px solid lightgrey;
	padding: 10px;
	margin: 1px;
}

#filter_pane ol, #filter_pane ul {
	width: 100%;
}

#filter_pane > .widget li {
	float: left;
	clear: left;
	width: 100%;
}

#filter_pane > .widget li:hover {
	background-color: lightgrey;
}

#search_bar {
	padding: 10px;
	height: auto;
}

.card {
	background-color: white;
	height: 4em;
	width: auto;
	margin: 6px;
	padding: 10px;
	box-shadow: 0 1px 3px black;
}
